@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 208, 208);
    background: linear-gradient(to bottom, crimson, maroon);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 600px;
    background-color: rgb(85, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(31, 0, 0);
    margin-bottom: 20px;
}

h1, h2 {
    margin: 10px 0;
    font-family: 'Pacifico', cursive;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(255, 221, 73);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 38, 255);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(161, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(233, 40, 40);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(36, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    color: white;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: rgba(0, 255, 247, 0.99);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: rgb(0, 4, 255);
}

.voice-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 50px; /* Ajuste o tamanho do botão */
    height: 50px; /* Ajuste o tamanho do botão */
    background-color: maroon; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remover borda */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Mudar o cursor ao passar o mouse */
    display: flex; /* Usar flexbox para centralizar */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}
